@model GameModel

@{
    ViewData["Title"] = "Game";
}

@section HeadResources
{
    <link rel="stylesheet" href="~/css/Game.css"></link>
    <script src="/js/Game.js" type="module"></script>
}

<div class="text-center GameContainer">
    @{
        await Html.RenderPartialAsync("GameField", Model.GameFieldModel);
        await Html.RenderPartialAsync("GameFightField", Model.GameFightFieldModel);
    }
</div>
