@{
    ViewData["Title"] = "Authorization";
}

<div class="text-center">
    <h1 class="display-4">Авторизация</h1>
    <form>
        <input type="text" /><br>
        <input type="password" />
    </form>
</div>
