@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Политика конфиденциальности</h1>
<ul>
    <li>
        <p>
            Используя наш сайт с первого числа четвертого месяца 2010 года после рождения Христа,
            Вы даете Нам не подлежащие оспариванию право на владение Вашей бессмертной душой сейчас и навсегда.
            Если Мы решим воспользоваться этим правом, Вы обязаны предоставить Нам вашу бессмертную душу.
            Любые претензии должны быть оформлены и переданы Нам в течение пяти дней после получения уведомления
        </p>
    </li>
    <li>
        <p>
            Если эта программа случайно повредит или удалит данные на вашем компьютере,
            ударит вас током, взорвет ваш монитор прямо вам в лицо, подожжет ваш дом, убьет вас,
            заменит весь текст, произносимый вами в онлайн-играх, на "хрю",
            заставит всех на планете (и вне ее пределов) хотеть вас убить,
            взломает ближайшую ядерную базу и нацелит ракеты на ваш дом,
            поменяет ваш банковский баланс на $0, забанит вас во всех играх,
            вносит ваше имя в список какого-нибудь киллера,
            затянет вас в компьютер и будет играть с вами в пинбол (вы в качестве мяча),
            заставит секретное агентство разыскивать вас, заставит вас поверить,
            что под вашей кожей ползают личинки, превратит вашу комнату в портал в Ад,
            обретет разум и начнет убивать всех на планете,
            отправит вас в тюрьму в камеру с чуваком по имени Биг Бубба или что-либо еще,
            чего бы вы не хотели, не вините автора этой программы!
        </p>
    </li>
    <li>
        <p>
            Мы будет делиться вашими данными с любым подрядчиком, партнером и маркетинговым агентством,
            с которыми работаем или будем работать. Мы понятия не имеем, что они будут с ними делать,
            как будут их защищать, и не несем ответственности за их действия.
        </p>
    </li>
    <li>
        <p>

            Любое наше заявление или обещание может быть аннулировано нашими последующими постами на сайте
            (например, новой версией пользовательского соглашения)
        </p>
    </li>
</ul>

