@using Tanks.Models.Enums
@model Tanks.Models.Enums.CellTile

@switch (Model)
{
	case CellTile.Empty:
		<div class="EmptyCell"></div>
		break;
	case CellTile.Brick:
		<div class="BrickCell"></div>
		break;
	case CellTile.Bedrock:
		<div class="BedrockCell"></div>
		break;
	case CellTile.EnemyBase:
		<div class="EnemyBaseCell"></div>
		break;
	case CellTile.FriendlyBase:
		<div class ="FriendlyBaseCell"></div>
		break;
}