@model Tanks.Models.GameFieldModel

<div class="GameField">
	@for (int row = 0; row < Model.FieldHeight; ++row)
	{
		<div class="GameFieldRow">
		@for (int column = 0; column < Model.FieldWidth; ++column)
		{	
			await Html.RenderPartialAsync("GameFieldCell", Model.Map[row][column]);
		}
		</div>
	}
</div>
